.bg3{
	background-image: url(../images/edu.jpg);
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.naviga{
	text-align: center;
	font-family: rockwell;
	font-size: 35px;
}
.education{
	background-color: transparent;
	color: black;
}
a{
	color: white;
	text-decoration: none;
	background-color: transparent;
	font-weight: bold;
	margin: 0.5%;
}
a.active, .naviga a:hover{
	background-color:transparent;
	color: black;
	width: 100%;
}
	.hm{
			
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-property: box-shadow, transform;
			transition-property: box-shadow, transform;
		}
		.hm:hover, .hm:focus, .ahm:active{
			box-shadow: 0 0 30px rgba(0, 0, 0, 10);
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}

		

		.gl{
			
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-property: box-shadow, transform;
			transition-property: box-shadow, transform;
		}
		.gl:hover, .gl:focus, .gl:active{
			box-shadow: 0 0 30px rgba(0, 0, 0, 10);
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}

		.ptp{
			
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-property: box-shadow, transform;
			transition-property: box-shadow, transform;
		}
		.ptp:hover, .ptp:focus, .ptp:active{
			box-shadow: 0 0 30px rgba(0, 0, 0, 10);
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}

		.ptry{
			
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-property: box-shadow, transform;
			transition-property: box-shadow, transform;
		}
		.ptry:hover, .ptry:focus, .ptry:active{
			box-shadow: 0 0 30px rgba(0, 0, 0, 10);
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}


		.mw{
			
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-property: box-shadow, transform;
			transition-property: box-shadow, transform;
		}
		.mw:hover, .mw:focus, .mw:active{
			box-shadow: 0 0 30px rgba(0, 0, 0, 10);
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}

		.ed{
			
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-property: box-shadow, transform;
			transition-property: box-shadow, transform;
		}
		.ed:hover, .ed:focus, .ed:active{
			box-shadow: 0 0 30px rgba(0, 0, 0, 10);
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
		.fam{
			
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-property: box-shadow, transform;
			transition-property: box-shadow, transform;
		}
		.fam:hover, .fam:focus, .fam:active{
			box-shadow: 0 0 30px rgba(0, 0, 0, 10);
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
		.abt{
			
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-property: box-shadow, transform;
			transition-property: box-shadow, transform;
		}
		.abt:hover, .abt:focus, .abt:active{
			box-shadow: 0 0 30px rgba(0, 0, 0, 10);
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}

		h1{
			color:red;
			font-size: 55px;
			font-family: Times New Roman;
			text-shadow: 1px 2px 1px white;
			padding-top: 10px 10px;
		}
		h2{

			color:red;
			font-size: 40px;
			font-family: Times New Rman;
		}
			h3{

			color:black;
			font-size: 20px;
			font-family: Times New Rman;
		}
		.vmgo{
			column-count: 3;
  			column-gap: 40px;
  			column-rule: 1px solid lightblue;
  		

}
img {
  float: right; 
margin-right: 20px; }
